body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}
body > h1 {
  padding-top: 2em;
}

section {
  min-height: 100vh;
}
/*  ====== HEADER/NAV BAR ======= */

header {
  display: flex;
  align-items: center;
  padding: 1.5em;
  background-color: #ccb081;
  color: #fff;
}

#logo, #spacer, nav {
  flex:1;
}
#logo {
  display: flex;
  justify-content: flex-end;
}


nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.65em;
}
nav a {
  text-decoration: none;
  color: #fff;
  /*scroll-behavior: smooth;*/
}

#buynownav {
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 5px 10px;
}

/* =========== SPLASH =========== */

#splash {
  background-color: #ccb081;
  color: #fff;
}
#splash h1 {
  padding-top: 2em;
  font-size: 2em;
}
#splash h2 {
  color: #fff;
  font-size: 1em;
}

/* ====== ABOUT ====== */

#about {
  background-color: #d2d6d0;
  background-image: url("images/about/blur.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#about h1, h2 {
  font-weight: 300;
  text-align: center;
}
#about h1 {
  padding-top: 2em;
  color: #fff;
}
#about h2 {
  font-size: 1em;
  color: #fff;
}
 #about img {
   margin-top: 4em;
   max-width: 100vw;
 }


 /* ====== NUTRITION ====== */

 #nutrition {
   background-color: #7c9e69;
   background-image: url(images/nutrition/blur2.png);
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: contain;
 }
 #nutrition h1, h2 {
   color: #fff;
   font-weight: 300;
 }
 #nutrition h1 {
   padding-top: 2em;
   font-size: 2em;
 }
 #nutrition h2 {
   font-size: 1em;
   color: #fff;
   padding-top: 0.5em;
 }
 #nutritiontext {
   max-width: 45vw;
   margin: 0 auto;
 }

 #nutrition img {
   padding-top: 5em;
 }
 #nutritioninfo sub {
   font-size: 0.5em;
 }
 #numbers {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-grow: 1;

   list-style: none;
   color: #fff;
   font-size: 1.5em;
   width: 40%;

   margin: 0 auto;
 }
#units {
  padding-bottom: 2em;
  max-height: 6px;
  width: 30%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  list-style: none;
  color: #fff;
  font-size: 1.5em;
  width: 31%;
  padding-right: 1em;

  margin: 0 auto;
}
/*  TRYING TO GET "FAT" TO LINE UP WITH ITS VALUE
#units li:nth-child(3){
  margin-left: 10px;
}*/
 /* ====== FEATURES ====== */

 #features {
   background-color: #ead8ac;
   background-image: url("images/features/4.png");
   background-size: contain;
   background-position: bottom;
   background-repeat: no-repeat;
 }
 #features h1, h2 {
   font-weight: 300;
   color: #8e6f2b;
 }

 #features h1 {
   padding-top: 2em;
   font-size: 1.5em;
 }
 #features h2 {
   font-size: 1em;
   padding-top: 1em;
 }
#featurestext {
  margin: 0 auto;
  max-width: 42vw;
}

/* ===== TESTIMONIALS ===== */


.wrap {
  overflow: hidden;
}

.carousel {
  display: flex;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateX(100%);
}
@media (min-width: 30em) {
  .carousel {
    left: -50%;
    transform: translateX(50%);
  }
}
@media (min-width: 40em) {
  .carousel {
    left: -55%;
    transform: translateX(33.33333%);
  }
}

.carousel.is-reversing {
  transform: translateX(-100%);
}
@media (min-width: 30em) {
  .carousel.is-reversing {
    transform: translateX(-50%);
  }
}
@media (min-width: 40em) {
  .carousel.is-reversing {
    transform: translateX(-33.333333%);
  }
}

.carousel.is-set {
  transform: none;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.carousel-seat {
  flex: 1 0 100%;
  order: 2;
}
.carousel-seat:nth-child(even) {
  opacity: 0.35;
}
@media (min-width: 30em) {
  .carousel-seat {
    flex-basis: 50%;
  }
}
@media (min-width: 40em) {
  .carousel-seat {
    flex-basis: 33.33333%;
  }
}

.carousel-seat.is-ref {
  order: 1;
}


.carousel {
  font-weight: 300;
  color: gray;
  margin: 0;
  text-align: center;
}
.carousel li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15em;
  min-width: 29em;
  margin-top: 2.5em;
}
blockquote {
  margin-top: 4em;
}
.carousel img {
  width: 80%;
}
.carousel footer {
  margin-bottom: 1em;
  font-size: 1em;
  color: gray;
}
#testimonials {
    background-image: url("images/testimonials/potatorain.png");
    background-size:cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
}

#testimonials h1 {
  padding: 2em 0 0.5em 0;
  text-align: center;
  font-weight: 300;
  font-size: 2em;
  color: silver;
  margin: 0;
}

.controls {
  text-align: center;
}
.controls button {
  background: transparent;
  border: transparent;
  opacity: 0.6;
  font-size: 5em;
  font-weight: 100;
  color: gray;
  cursor: pointer;
  outline: none;
  padding: 0 1em 0 1em;
}
.controls button:visited {
  opacity: 0.6;
}
.controls button:hover, .controls button:focus {
  opacity: 1;
}
/* ==== BUY ===== */
#buy {
  background-color: #eee;
}

#buy img{
  margin-bottom: 2em;
}
#buy h1 {
  color: #686868;
  padding-top: 2em;
  font-weight: 300;
}
#buy h4{
  font-weight: 300;
}
#buy-grid {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 3em auto 0 auto;
}
.col-lite, .col-pro, .col-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
}

#buy-grid div+div {
  border-left: 2px solid lightgray;
}
/*  ^^^ my thought here was to make each column its own
flex container for lists*/
#buy .strong{
  font-weight: bold;
}

#buy ul {
  text-align: left;
  padding-left: 2em;
  margin: 2em 0 4em 0;
  list-style: none;
  position: relative;
  max-height: 145px;
  flex-grow: 1;
}
/* POTATO TEAM: BULLETS INSERTED USING SPECIAL HTML
 CHARACTERS IN MARKUP AND STYLED IN CSS*/
.dot{
  margin-right: 1em;
  font-size: 1em;
  opacity: .8;
}
/* POTATO LITE: BULLETS STYLED USING UNICODE SYMBOLS AND
li:before PSEUDO ELEMENT */
#buy li:before {
  content: "\25cf";
  font-size: 0.5em;
  margin-top: 0.5em;
  display: block;
  position: absolute;
  left: 1.5em;
}
#buy a {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid darkseagreen;
  padding: 5px;
  background-color: transparent;
  color: darkseagreen;
  font-size: 0.75em;
  width: 5em;
}
#buy .tinytext {
  font-size: 0.3em;
  margin-top: 0.75em;
}



/*  ==== FOOTER ======= */

footer {
  color: silver;
  font-size: 0.35em;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

#footer_left, #footer_right {
display: flex;
width: 50vw;
}

#footer_left {
  justify-content: center;
  margin-left: 10em;
  margin-top: 2em;
}
#footer_right{
  justify-content: flex-end;
  margin-right: 20em;
  margin-top: 2em;
}
#footer_right ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
  width: 50%;
}
footer a {
  text-decoration: none;
  color: silver;
}
